@font-face {
  font-family: 'vazir';
  src: url(../fonts/Vazir.ttf);
}

@font-face {
  font-family: 'ir-sans';
  src: url(../fonts/FontsFree-Net-ir_sans.ttf);
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

i {
  cursor: pointer;
}

.costum-container {
  background-image: url(../assets/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
}

.costum-container .left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.costum-container .left-content .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #E1EDEE;
  border-radius: 15px;
  padding: 9px 14px;
}

.costum-container .left-content .user img {
  width: 26px;
}

.costum-container .left-content .user p {
  color: #6F6E6E;
  font-size: 15px;
  padding: 0 10px;
}

.costum-container .left-content .user .user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.costum-container .left-content .user .user-level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 1px solid #808080b5;
}

.costum-container .left-content .user .user-level img {
  margin-left: 10px;
}

.costum-container .left-content .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.costum-container .left-content .location p {
  font-size: 23px;
  line-height: 30px;
  text-align: right;
  letter-spacing: 0.005em;
  color: #F4F4F4;
  margin-left: 5px;
}

.costum-container .left-content .location img {
  width: 38px;
}

.costum-container .center-content {
  background: rgba(244, 244, 244, 0.7);
  border-radius: 35px;
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  padding: 14px 37px 47px;
  margin-top: 4rem;
  border: 10px solid rgba(255, 255, 255, 0.17);
  width: 731px;
  height: 955px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.costum-container .center-content .center-title {
  direction: rtl;
  margin: 1rem 0;
}

.costum-container .center-content .center-title span {
  font-family: 'ir-sans';
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  text-align: right;
  color: #6F6E6E;
}

.costum-container .center-content .center-progress .progress {
  height: .51rem;
}

.costum-container .center-content .center-progress .progress .progress-bar {
  background-color: #0d99fd;
}

.costum-container .center-content .center-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.costum-container .center-content .center-image .center-image-content-left, .costum-container .center-content .center-image .center-image-content-right {
  position: relative;
  width: 245px;
  height: 282px;
  cursor: pointer;
  border-radius: 1rem;
  margin-top: 54px;
}

.costum-container .center-content .center-image .center-image-content-left img, .costum-container .center-content .center-image .center-image-content-right img {
  width: 229.43px;
  height: 213px;
  border-radius: 35px;
  margin: 6px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.costum-container .center-content .center-image .center-image-content-left .sound-icon-left, .costum-container .center-content .center-image .center-image-content-left .sound-icon-right, .costum-container .center-content .center-image .center-image-content-right .sound-icon-left, .costum-container .center-content .center-image .center-image-content-right .sound-icon-right {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.costum-container .center-content .center-image .center-image-content-left .sound-icon-left i, .costum-container .center-content .center-image .center-image-content-left .sound-icon-right i, .costum-container .center-content .center-image .center-image-content-right .sound-icon-left i, .costum-container .center-content .center-image .center-image-content-right .sound-icon-right i {
  font-size: 1.3rem;
  padding: 1.5rem;
}

.costum-container .center-content .center-image .center-image-content-left .sound-icon-left i:hover, .costum-container .center-content .center-image .center-image-content-left .sound-icon-right i:hover, .costum-container .center-content .center-image .center-image-content-right .sound-icon-left i:hover, .costum-container .center-content .center-image .center-image-content-right .sound-icon-right i:hover {
  font-size: 2.1rem;
}

.costum-container .center-content .center-image .center-image-content-left .sound-icon-left i, .costum-container .center-content .center-image .center-image-content-right .sound-icon-left i {
  color: #0cab0c;
  background-color: #fff;
  border-radius: 50%;
}

.costum-container .center-content .center-image .center-image-content-left .sound-icon-right i, .costum-container .center-content .center-image .center-image-content-right .sound-icon-right i {
  color: #fff;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#22E1FF), color-stop(48%, #1D8FE1), to(#625EB1));
  background: linear-gradient(90deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}

.costum-container .center-content .center-image .center-image-content-left {
  background-color: #0cab0c;
}

.costum-container .center-content .center-image .center-image-content-right {
  background-color: #fff;
}

.costum-container .center-content .center-options {
  margin-top: 65px;
}

.costum-container .center-content .center-options p {
  width: 565px;
  height: 78px;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 28px;
  font-size: 28px;
  line-height: 146.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.costum-container .center-content .center-options .option1 {
  background: #46AEF7;
  -webkit-box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.13);
}

.costum-container .center-content .center-options .option2 {
  background: #FF7CA6;
  -webkit-box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.13);
}

.costum-container .center-content .center-options .option3 {
  background: #C059FF;
  -webkit-box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.13);
}

.costum-container .center-content .center-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}

.costum-container .center-content .center-footer .footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.costum-container .center-content .center-footer .footer-right img {
  width: 60px;
  height: 60px;
  margin: 0 12.5px;
  cursor: pointer;
}

.costum-container .center-content .center-footer .footer-middle {
  padding-left: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.costum-container .center-content .center-footer .footer-middle button {
  border: none;
  outline: none;
  background-color: #18ae15;
  color: #fff;
  border-radius: 28px;
  width: 152px;
  height: 66px;
  font-weight: 500;
  font-size: 32px;
  line-height: 146.25%;
}

.costum-container .center-content .center-footer .footer-left {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.costum-container .center-content .center-footer .footer-left img {
  width: 60px;
  height: 60px;
}

.costum-container .right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.costum-container .right-content ul {
  background-color: #fff;
  border-radius: 58px 0 0 58px;
  height: 955px;
  width: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 0;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.costum-container .right-content ul li.active i {
  color: #0d48b5 !important;
}

.costum-container .right-content ul li.active p {
  color: #222 !important;
  font-weight: 500;
}

.costum-container .right-content ul li a .right-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.costum-container .right-content ul li a .right-item i {
  font-size: 40px;
  color: #5fb2e3;
}

.costum-container .right-content ul li a .right-item p {
  color: #000000;
  font-size: 21px;
  line-height: 123.2%;
}

@media only screen and (max-width: 1040px) {
  .costum-container .left-content {
    height: 100%;
    padding: 1rem;
  }
  .costum-container .left-content .user {
    border-radius: 9px;
    padding: 4px 7px;
  }
  .costum-container .left-content .user img {
    width: 20px;
  }
  .costum-container .left-content .user p {
    color: #6F6E6E;
    font-size: 13px;
    padding: 0 3px;
  }
  .costum-container .left-content .user .user-level img {
    margin-left: 6px;
  }
  .costum-container .left-content .location p {
    font-size: 15px;
    margin-left: 5px;
  }
  .costum-container .left-content .location img {
    width: 25px;
  }
  .costum-container .center-content {
    height: 894px;
  }
  .costum-container .center-content .center-title {
    direction: rtl;
    margin: 1rem 0;
  }
  .costum-container .center-content .center-title span {
    font-size: 17px;
  }
  .costum-container .center-content .center-progress .progress {
    height: .51rem;
  }
  .costum-container .center-content .center-progress .progress .progress-bar {
    background-color: #0d99fd;
  }
  .costum-container .center-content .center-image .center-image-content-left, .costum-container .center-content .center-image .center-image-content-right {
    width: 227px;
    height: 264px;
  }
  .costum-container .center-content .center-image .center-image-content-left img, .costum-container .center-content .center-image .center-image-content-right img {
    width: 219.43px;
    height: 203px;
  }
  .costum-container .center-content .center-options {
    margin-top: 65px;
  }
  .costum-container .center-content .center-options p {
    width: 465px;
    height: 75px;
    font-size: 26px;
  }
  .costum-container .center-content .center-footer .footer-middle {
    padding-left: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .costum-container .center-content .center-footer .footer-middle button {
    border-radius: 22px;
    width: 144px;
    height: 60px;
    font-size: 29px;
  }
  .costum-container .right-content ul {
    height: 894px;
  }
}

@media only screen and (max-width: 960px) {
  .costum-container .left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .costum-container .left-content img {
    width: 32px !important;
  }
  .costum-container .left-content p {
    font-size: 21px !important;
  }
  .costum-container .center-content {
    width: 545px;
    height: 790px;
  }
  .costum-container .center-content .center-image {
    margin: 0;
  }
  .costum-container .center-content .center-image .center-image-content-left,
  .costum-container .center-content .center-image .center-image-content-right {
    width: 175px;
    height: 212px;
  }
  .costum-container .center-content .center-image .center-image-content-left img,
  .costum-container .center-content .center-image .center-image-content-right img {
    width: 159px;
    height: 143px;
  }
  .costum-container .center-content .center-options {
    margin-top: 50px;
  }
  .costum-container .center-content .center-options p {
    width: 441px;
    height: 65px;
    font-size: 23px;
  }
  .costum-container .center-content .center-footer .footer-left img {
    width: 50px;
    height: 50px;
  }
  .costum-container .center-content .center-footer .footer-middle button {
    width: 135px;
    height: 55px;
    font-size: 27px;
  }
  .costum-container .center-content .center-footer .footer-right img {
    width: 50px;
    height: 50px;
  }
  .costum-container .right-content ul {
    margin-top: 3rem;
    width: 90px;
    height: 787px;
  }
  .costum-container .right-content ul li a .right-item p {
    font-size: 17px;
  }
  .costum-container .right-content ul li a .right-item i {
    font-size: 35px;
  }
}

@media only screen and (max-width: 720px) {
  .costum-container .left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .costum-container .left-content img {
    width: 26px !important;
  }
  .costum-container .left-content p {
    font-size: 18px !important;
  }
  .costum-container .center-content {
    width: 428px;
    height: 658px;
    padding: 14px 37px 0px;
  }
  .costum-container .center-content .center-title span {
    font-size: 15px;
  }
  .costum-container .center-content .center-image {
    margin: 0;
  }
  .costum-container .center-content .center-image .center-image-content-left,
  .costum-container .center-content .center-image .center-image-content-right {
    width: 142px;
    height: 175px;
  }
  .costum-container .center-content .center-image .center-image-content-left .sound-icon-right,
  .costum-container .center-content .center-image .center-image-content-left .sound-icon-left,
  .costum-container .center-content .center-image .center-image-content-right .sound-icon-right,
  .costum-container .center-content .center-image .center-image-content-right .sound-icon-left {
    bottom: .6rem;
  }
  .costum-container .center-content .center-image .center-image-content-left .sound-icon-right i,
  .costum-container .center-content .center-image .center-image-content-left .sound-icon-left i,
  .costum-container .center-content .center-image .center-image-content-right .sound-icon-right i,
  .costum-container .center-content .center-image .center-image-content-right .sound-icon-left i {
    padding: 1.3rem;
  }
  .costum-container .center-content .center-image .center-image-content-left img,
  .costum-container .center-content .center-image .center-image-content-right img {
    width: 136px;
    height: 125px;
    border-radius: 18px;
  }
  .costum-container .center-content .center-options {
    margin-top: 20px;
  }
  .costum-container .center-content .center-options p {
    width: 329px;
    height: 52px;
    font-size: 18px;
    border-radius: 17px;
  }
  .costum-container .center-content .center-footer .footer-left img {
    width: 40px;
    height: 40px;
  }
  .costum-container .center-content .center-footer .footer-middle {
    padding-left: 0;
  }
  .costum-container .center-content .center-footer .footer-middle button {
    width: 100px;
    height: 47px;
    font-size: 23px;
  }
  .costum-container .center-content .center-footer .footer-right img {
    width: 40px;
    height: 40px;
    margin: 0 5.5px;
  }
  .costum-container .right-content ul {
    margin-top: 3rem;
    width: 90px;
    height: 658px;
    padding: 60px 0;
    border-radius: 35px 0 0 35px;
  }
  .costum-container .right-content ul li a .right-item p {
    font-size: 13px;
  }
  .costum-container .right-content ul li a .right-item i {
    font-size: 30px;
  }
}

@media only screen and (max-width: 540px) {
  .costum-container .left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .costum-container .left-content .user {
    padding: 7px 13px;
  }
  .costum-container .left-content .user p {
    padding: 0 3px;
  }
  .costum-container .left-content img {
    width: 25px !important;
  }
  .costum-container .left-content p {
    font-size: 11px !important;
  }
  .costum-container .center-content {
    width: 338px;
    height: 566px;
    padding: 0px 19px 0px;
    margin-top: 1rem;
    margin-bottom: 6rem;
  }
  .costum-container .center-content .center-title span {
    font-size: 12px;
  }
  .costum-container .center-content .center-image {
    margin: 0;
  }
  .costum-container .center-content .center-image .center-image-content-left,
  .costum-container .center-content .center-image .center-image-content-right {
    width: 118px;
    height: 144px;
  }
  .costum-container .center-content .center-image .center-image-content-left .sound-icon-right,
  .costum-container .center-content .center-image .center-image-content-left .sound-icon-left,
  .costum-container .center-content .center-image .center-image-content-right .sound-icon-right,
  .costum-container .center-content .center-image .center-image-content-right .sound-icon-left {
    bottom: .6rem;
  }
  .costum-container .center-content .center-image .center-image-content-left .sound-icon-right i,
  .costum-container .center-content .center-image .center-image-content-left .sound-icon-left i,
  .costum-container .center-content .center-image .center-image-content-right .sound-icon-right i,
  .costum-container .center-content .center-image .center-image-content-right .sound-icon-left i {
    padding: 1.3rem;
  }
  .costum-container .center-content .center-image .center-image-content-left img,
  .costum-container .center-content .center-image .center-image-content-right img {
    width: 114px;
    height: 105px;
  }
  .costum-container .center-content .center-options {
    margin-top: 20px;
  }
  .costum-container .center-content .center-options p {
    width: 274px;
    height: 41px;
    font-size: 14px;
  }
  .costum-container .center-content .center-footer .footer-left img {
    width: 30px;
    height: 30px;
  }
  .costum-container .center-content .center-footer .footer-middle {
    padding-left: 0;
  }
  .costum-container .center-content .center-footer .footer-middle button {
    width: 88px;
    height: 40px;
    font-size: 20px;
    border-radius: 12px;
    font-weight: 400;
  }
  .costum-container .center-content .center-footer .footer-right img {
    width: 30px;
    height: 30px;
    margin: 0 2.5px;
  }
  .costum-container .right-content ul {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 1rem;
    border-radius: 20px 20px 0 0;
  }
  .costum-container .right-content ul li a .right-item p {
    font-size: 13px;
    display: none;
  }
  .costum-container .right-content ul li a .right-item i {
    font-size: 20px;
  }
  .costum-container .right-content ul li.active {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .costum-container .right-content ul li.active a .right-item p {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */